* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: #fff;
}

input {
  color: black;
}

body {
  background: linear-gradient(#141e30, #243b55);
}

.flex-menu {
  background-color: #2A4365;
  display: flex;
  justify-content: space-between;
}

.header a {
  display: inline;
  justify-content: space-between;
  font-size: 2rem;
  max-width: 250px;
  transition: all .3s;
  text-decoration: none;
  color: #fff;
}

.header .activePage {
  color: #717D7E;
}

.header a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2A4365;
}

.menu li a {
  display: flex;
  text-align: center;
  padding: 14px 16px;
}


.menu li {
  float: left;
}

.content {
  margin: 100px auto;
  max-width: 1180px;
  text-align: center;
}

.active {
  background-color: #141e30;
}

.panel {
  display: inline-block;
  text-align: center;
  border: 1px solid;
}

select, option {
  color: black;
}


